<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar Usuario" #textTermino (keyup)="buscar(textTermino.value)">

            </div>

        </div>
    </div>
</div>


<div class="row animated fadeIn fast " *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">

            <h4 class=" alert-heading ">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p></p>
            <p class="mb-0 ">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Médicos</h4>
                <h6 class="card-subtitle">Registrados ({{medicos.length}})</h6>
                <div class="col">
                    <div class="text-right">
                        <a class="btn btn-primary" routerLink="/dashboard/medicos/nuevo">
                            <i class="fa fa-hospital-o"></i> Crear Medico
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w140">Avatar</th>
                                <th>Nombre</th>
                                <th>Hospital</th>

                                <th class="text-nowrap w100 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img [src]="medico.img | imagen:'medicos'" [alt]="medico.nombre" class="avatar cursor" (click)="abrirModal(medico)"> </td>
                                <td>{{medico.nombre}}</td>
                                <td>{{medico.hospital.nombre}}</td>

                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/medicos', medico._id]" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarMedico(medico)" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>