<div class="row animated fadeIn fast">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    <h4 class="alert-heading">No hay usuarios con ese termino</h4>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td><img class="avatar" [src]="usuario.img | imagen: 'usuarios'"></td>
                                <td>{{usuario.nombre}}</td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medicos</h4>
                <div class="alert alert-info" role="alert" *ngIf="medicos.length === 0">
                    <h4 class="alert-heading">No hay medicos con ese termino</h4>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img class="avatar" [src]="medico.img | imagen: 'medicos'">
                                </td>
                                <td>{{medico.nombre}}</td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales</h4>
                <div class="alert alert-info" role="alert" *ngIf="hospitales.length === 0">
                    <h4 class="alert-heading">No hay hospitales con ese termino</h4>
                    <p></p>
                    <p class="mb-0"></p>
                </div>

                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td>
                                    <img class="avatar" [src]="hospital.img | imagen: 'hospitales'">
                                </td>
                                <td>{{hospital.nombre}}</td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>